.container{
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    width: 30%;
    /* border-radius: 111px; */
}
h1{
    font-family: 'Baloo Bhai 2', cursive;
    
    
}
table{
    margin: auto;
}
input{
    font-size: 20px;
    height: 53px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: right;
    padding-right: 20px;
    font-family: 'Baloo Bhai 2';
    }
button{
    border-radius: 50%;
    border: none;
    font-size: 20px;
    color: black;
    font-family: 'Baloo Bhai 2', cursive;
    font-style: oblique;
    height: 70px;
    width: 70px;
}
.operator{
background-color: aliceblue;
}
#clr{
    background-color: rgb(255, 140, 140);
}